ai_builder_sensitive_info_flow 2.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {},
  "triggers": {
    "When_a_file_is_created": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['sharepoint']['connectionId']"
          }
        },
        "operationId": "OnNewFile",
        "parameters": {
          "dataset": "https://contoso.sharepoint.com/sites/YourSite",
          "table": "Documents"
        }
      }
    }
  },
  "actions": {
    "Get_file_content": {
      "runAfter": {},
      "type": "OpenApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['sharepoint']['connectionId']"
          }
        },
        "operationId": "GetFileContentByPath",
        "parameters": {
          "dataset": "https://contoso.sharepoint.com/sites/YourSite",
          "filePath": "@triggerOutputs()?['body/{Path}']"
        }
      }
    },
    "Detect_sensitive_information": {
      "runAfter": {
        "Get_file_content": [
          "Succeeded"
        ]
      },
      "type": "OpenApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['aibuilder']['connectionId']"
          }
        },
        "operationId": "DetectSensitiveInformation",
        "parameters": {
          "modelId": "<MODEL-ID-PLACEHOLDER>",
          "textInput": "@base64ToString(body('Get_file_content'))"
        }
      }
    },
    "Update_file_properties": {
      "runAfter": {
        "Detect_sensitive_information": [
          "Succeeded"
        ]
      },
      "type": "OpenApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['sharepoint']['connectionId']"
          }
        },
        "operationId": "UpdateFileProperties",
        "parameters": {
          "dataset": "https://contoso.sharepoint.com/sites/YourSite",
          "id": "@triggerOutputs()?['body/ID']",
          "properties": {
            "DetectedInfo": "@body('Detect_sensitive_information')?['entities']"
          }
        }
      }
    }
  },
  "outputs": {}
}